<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>DPS School</h1>
      
      <a href="/users/me/edit/" class="btn btn-info">Register</a>
      
    </div>
   
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> school@school.com
	  
	</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> July 26, 2020, 7:46 p.m.</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> July 26, 2020, 7:46 p.m.</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">DPS School's Profile
	  
	    <a href="/users/f6f9d6fc-7cca-4ee3-ba54-928b25c529fc/">
	    	<span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
	    	<span class="sr-only">Permalink</span></a> 
	  
	</div>
        <div class="panel-body">
	  <strong>Discord Code</strong>: f6f9d6fc-7cca-4ee3-ba54-928b25c529fc
	</div>
      </div>
    </div>
  </div>
</div>


</body>
</html>